@import '~font-awesome/css/font-awesome.css';

.partner {
	padding: 5px;
	border: solid black 1px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 4px;
}


